@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #eee;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  transition: 0.2s;

}

ul li:nth-child(odd) {
  background: #f9f9f9;
}

ul li:hover {
  background: #F4E8C1
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.header {
  background-color: #042f4b;
  padding: 30px 40px;
  color: white;
  text-align: center;
}

.list {
  background-color: #ff5e78;
  color: white;
  text-align: center;
}

.header:after {
  content: "";
  display: table;
  clear: both;
}

input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

.addBtn {
  padding: 10px;
  width: 25%;
  background: #ed1250;
  color:white;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border-radius: 0;
}

.addBtn:hover {
  background-color: #706993;
}

button{
  margin:5px
}
.undo{
 background-color: #9a8194;
 padding:2px;
 font-weight:bold;
 color:white;
 cursor: pointer;
}
.do{
  background-color: #99bbad;
  padding:2px;
  font-weight:bold;
  color:white;
  cursor: pointer;
}
.delete{
  background-color: #ed1250;
  padding:2px;
  font-weight:bold;
  color:white;
  cursor: pointer;
}

